*,html,body{
    overflow-x: hidden !important;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.top-navbar {
    position: relative;
    height: 45px;
    display: flex;
    border-bottom: 2px solid #dbdbdb;
    background-color: #f8f8f8;
    width: -webkit-fill-available;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;

}

.designer-box {
    display: flex;
    align-items: start;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: hidden;
}

.sidebar {
    position: relative;
    width: 25%;
    height: 100%;
    overflow-y: hidden;
}


/* left side ADD elements buttons start */
#controls {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

#controls .component {
    background-color: #f8f8f8;
    padding: 18px;
    border-bottom: 2px solid #dbdbdb;
    font-size: 18px;
}

#controls .btn-area {
    margin-bottom: 0px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #f2f2f2;
    height: 100%;
    border-right: 2px solid #c8c8c8;
}

#controls .btn-area button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    padding: 6px 10px;
    background-color: #fff;
    font-size: 15px;
}
#controls .btn-area button:hover, #controls .btn-area button:focus{
    background-color: #000;
    color: #fff;
}

#controls .btn-area button span:last-of-type {
    font-size: 1.5rem;
    font-weight: 600;
}

/* left side ADD elements buttons end */

/* right side top level div */
#form-designer {
    width: 75%;
    margin: auto;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    background-color: #e1e1e1;
}

#form-designer .card {
    padding: 10px;
    position: relative;
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    background-color: white;
    border: 2px solid #c8c8c8;
    overflow: hidden;
    border-radius: 12px;
}

/*styled form elements  start ********************* [both - elements form and also modal forms ] */
#form-container {
    padding: 20px;
    min-height: 200px;
}

#modal-form {
    padding: 2.25rem;
}

#modal-form h2 {
    text-transform: capitalize;
    margin-top: 0;
}

#form-container .form-element{
    cursor: grab;
}
#form-container .form-element,
#modal-form .form-element {
    margin-bottom: 20px;

}

#form-container .label-box,
#modal-form .label-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

#form-container .form-element .actions svg:hover {
cursor: pointer;
}

#form-container .input_wrapper,
#modal-form .input_wrapper {
    display: flex;
    width: 100%;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    display: block;
    width: 100%;
}

#options-list{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.option-input{
    width: 100%;
    display: flex;
    align-items: center;
}
.option-input input{
    width: 95%;
}

.option-input div{
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#add-option{
    background-color: #000;
    color: white;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 12px;
    border: 1px solid #000;
}
#add-option:hover{
    background-color: #fff;
    color: #000;
}
/*styled form  end */

/************************* editModal modal start  ***************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
}
.cross-btn{
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-buttons-container{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

/***************************** editModal modal end  **********************************/



/* buttons */
.button {
    position: relative;
    padding: 0.5rem 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
    font-size: 1rem;
}

.primary-button {
    background-color: #fff;
    color: #000;
}
.primary-button:hover, .primary-button:focus{
    background-color: #000;
    color: #fff;
}

.secondary-button{
    background-color: #000;
    color: #fff;
}
.secondary-button:hover, .secondary-button:focus{
    color: #000;
    background-color: #fff;
}


.actions_div{
    display: flex;
    align-items: center;
    gap: 16px;
}
.actions_div .actions{
    position: relative;
    width: 22px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*  responsiveness start */
@media(max-width : 768px) {
    main{
        overflow-y: auto;
    }
    .designer-box{
        height: auto;
        flex-wrap: wrap;
    }
    .sidebar{
        width: 100%;
    }
    #form-designer{
        width: 100%;
    }
    #form-designer .card {
    padding: 0 !important;
    width: 100%;
    }

    #modal-form {
        padding: 1.5rem;
    }
    
    
    .modal-content{
        width: 80%;
    }
    .button{
        padding: 0.5rem 1.5rem;
    }
}